@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--useless-blue: #35f;
	--useless-blue-dark: rgb(0, 41, 153);
	--useless-green: #0f8;
	--useless-green-light: rgb(97, 255, 181);
	--useless-gray: #141414;
	--useless-fg: #fff;

	--gap: 2rem;
	--header-height: 6rem;
	--nav-full-h: calc(100vh - var(--header-height));

	font-size: 64%;
}

body {
	background: var(--useless-gray);
	color: var(--useless-fg);
}

section {
	display: inline-block;
	width: 100%;
}

.main-wrapper {
	@apply mt-[var(--header-height)] md:mt-0 md:mr-[var(--header-height)];
	position: relative;
}

.blink {
	animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
