@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--useless-bg: #35f;
	--useless-bg-dark: rgb(0, 41, 153);
	--useless-gray: #141414;

	--gap: 2rem;
	--header-height: 6rem;

	font-size: 64%;
}

body {
	background: var(--useless-bg);
}

.section {
	padding: var(--gap) 0;
}

.main-wrapper {
	@apply mt-[var(--header-height)] md:mt-0 md:mr-[var(--header-height)];
	position: relative;
}

main {
	padding: var(--gap);
}
